.process-list-container .process-header-container {
    background: #efefef;
    margin: 10px;
    border-radius: 3px;
    border-bottom: 5px solid white;
    display: flex;
    align-items: center;
}

.process-list-container .process-header-container:not(:first-child) {
    margin-top: 50px;
}

.process-list-container .process-header-container .process-name {
    padding: 11px;
    margin-right: 45px;
}

.process-list-container table.bx-interface-grid > tbody > tr:not(.bx-grid-footer) {
    text-align: center !important;
}

.process-list-container .role-task-status,
.process-list-container .role-task-status1 {
    background: #d9d9d9 !important;
}

.process-list-container .role-task-status2 {
    background: #fff2cc !important;
}

.process-list-container .role-task-status3 {
    background: #9fc5e8 !important;
}

.process-list-container .role-task-status4,
.process-list-container .role-task-status5,
.process-list-container .role-task-status6 {
    background: #d9ead3 !important;
}

.process-list-container .role-task-status7 {
    background: #f4cccc !important;
}