.sed-add-tab {
    display: none;
}

.sed-add-tab .webform-buttons {
    text-align: left;
    margin-bottom: 100px;
}

.sed-add-input.sed-add-input-required.error {
    border-color: red !important;
}

.user-field-value.error {
    border: 1px solid red;
}

.sed-add-input.user-role-input,
#sed-process-selector {
    cursor: pointer;
}

/*.sed-add-form .row.row-days-harmonize {
    min-height: 70px;
}*/

.sed-add-form table.contract-detail-content .row .user-field-value {
    width: 300px;
}

.sed-add-form .user-field-value div.fields.datetime {
    display: table;
    width: 100%;
}

/*.sed-add-form .user-field-value div.fields.datetime input.fields.datetime {
    width: 300px;
}*/