/.idea/
/www/

/upload/
#/bitrix/*
!/bitrix/templates/
/bitrix/templates/main/styles.css
/bitrix/templates/main/template_styles.css
/bitrix/templates/inner/styles.css
/bitrix/templates/inner/template_styles.css
/bitrix/templates/bootstrap_s1/template_styles.css
/bitrix/templates/learning-portal/template_styles.css

!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php

!/bitrix/components/
/bitrix/components/bitrix/

/bitrix/templates/api/sms/*

_dependenciesStorage.php
.htaccess

*.log
*.tmp
*.lock
log.txt
web.config
*.*~

sms.php