input.contract_status_input {
    width: 30%;
}

input.contract_status_input.editable {
    color: green;
    border-color: green;
}

input[readonly].contract_status_input {
    opacity: 1.0;
}

input.contract_status_edit {
    min-width: 125px;
}

input.contract_status_remove {
    color: #ff0000!important;
    min-width: 125px;
}

input.contract_status_edit[data-action="save"] {
    color: #0000ff;
}

#task-settings.blocked {
    pointer-events: none;
    opacity: 0.6;
}
#task-settings .container {
    padding: 20px;
    margin-bottom: 30px;
    border: 2px dotted #999;
    border-radius: 15px;
}
.task-type-container {
    background-color: #fff;
}
.task-status-container {
    background-color: #f2f5f6;
}
.task-type-header {
    font-size: 18px;
    padding-bottom: 20px;
}
.task-type-label {
    width: 150px;
}
.input-width-320 {
    width: 320px;
}
.select-width-332 {
    width: 332px;
}
.mg-top-20 {
    margin-top: 20px;
}
.task-type-container .task-inline-block {
    display: inline-block;
}
.task-type-container .float-right {
    float: right;
}
.task-type-container input[disabled],
.task-type-container select[disabled] {
    opacity: 0.9;
}
.task-type-container .input-block {
    margin-bottom: 5px;
}
.task-type-container .warning {
    color: #d00!important;
}
.task-type-container .hidden {
    display: none!important;
}
.task-type-container input[data-input-type="input"]:not(.disabled),
.task-type-container select[data-input-type="input"]:not(.disabled) {
    border: 2px solid #3b3;
}
.task-type-container input[type="button"]:not(:first-child) {
    margin-left: 10px;
}


.task-type-container .task-status-list-container {
    margin-top: 30px;
}
.task-type-container .task-status-header {
    font-size: 16px;
    padding-bottom: 20px;
}
.task-type-container .task-status-list-header {
    padding-bottom: 20px;
}